<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dock</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js"></script>
  </head>
  <body id="dock">
    <!-- <audio controls>
      <source src="mainbackground.mp3" type="audio/mpeg" />
    </audio> -->
    <!-- <div class="title"><h1>A FISHING WEBSITE</h1></div> -->

    <a href="fishingSite"
      ><img src="uploads/fishingSite.png" id="fishSite"
    /></a>
    <a href="temple"><img src="uploads/temple.png" id="templeSite" /></a>
    <a href="collect"><img src="uploads/cabinet.png" id="collectSite" /></a>
  </body>
</html>
