<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>temple</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js"></script>
  </head>
  <body id="templeBody">
    <div>
      <img src="uploads/temple.png" id="templeImage" />
      <a href="/collect">should be a pop up about cabinet</a>
    </div>
    <button id="templeResponse">hear the response</button>
    <p id="responseOutput">give me the fishs</p>
    <a href="/"><img src="uploads/dock.png" id="c" /></a>
  </body>
</html>
